@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dimgray: #696969;
  --color-gray: #151515;
  --color-gainsboro: #e4e4e4;
  --color-dodgerblue: #3b7be0;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-0: 0px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-13xl: 32px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-5xs: 8px;
}
